<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Steam.ApiKey" value="BE2DC879B4DFE16B0F428080031D7FF8"/>
    <add key="Steam.WebApiEndpoint" value="http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key={0}&amp;format=json&amp;steamid=" />
    <add key="Steam.StoreApiEndpoint" value="http://store.steampowered.com/api/appdetails/?appids=" />
  </appSettings>
</configuration>
