@{
    ViewBag.Title = "Index";
}
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" type="text/css"/>   
        <link rel="stylesheet" href="~/assets/darkstrap.min.css" type="text/css" /> 
        <style>
            .center {
                float: none;
                margin-left: auto;
                margin-right: auto;
            }
        </style> 
    </head>
    <body>
        @RenderBody()
        
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>    
    </body>
</html>

