@{
    ViewBag.Title = "Index";
    Layout = "_Index.cshtml";
}

<div class="container">
    <h3>Enter steamids to intersect, one per line. Custom profile names are also accepted</h3>
    <div class="span6 center">
        @using (Html.BeginForm("DisplayIntersection", "Index"))
        {
            <textarea cols="50" rows="10" name="steamIds"></textarea>
            <br/>
            <input type="submit" value="Intersect" />
        }
    </div>
</div>
